<h2>記録</h2>

<div class="col-xs-3 billing">
    <table class="table table-hover table-condensed table-bordered">
      <tr>
      <th class="info"> タスク名:</th>
      <td><%= @article.name %></td>
      </tr>

      <tr>
      <th class="info">開始日:</th>
      <td><%= @article.created_at.strftime("%Y/%m/%d") %></td>
      </tr>

      <tr>
      <th class="info">目標日数:</th>
      <td><%= @article.time %></td>
      </tr>

      <tr>
      <th class="info">達成日数:</th>
      <td><%= @count_articles %></td>
      </tr>

      <tr>
      <th class="info">達成率:</th>
      <td><%= number_to_percentage(@article_times,precision: 0) %></td>
      </tr>

    </table>
</div>

<p class="text-right">
<%= button_to article_article_times_path(@article.id),class: "btn btn-3d-circle",method: :post do %>
  <span class="btn-3d-circle-content">
    <span class="btn-3d-circle-front"><%= number_to_percentage(@article_times,precision: 0) %>
    </span>
  </span>
  <span class="btn-3d-circle-back"><i class="fas fa-mouse-pointer"></i></span>
<% end %>
</p>


<canvas id="myPieChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
          backgroundColor: [
              "#BB5179",
              "#FAFF67",
              "#58A27C",
              "#3C00FF"
          ],
          data: [<%= @article_times %>,<%=@article_time_graph%>]
      }]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
  });
  </script>